<button id="share-btn">Compartir</button>

<div id="share-options" style="display:none;">
    <button onclick="shareOnWhatsApp()">Compartir en WhatsApp</button>
    <button onclick="shareOnFacebook()">Compartir en Facebook</button>
    <button onclick="shareOnTwitter()">Compartir en Twitter</button>
    <button onclick="shareOnLinkedIn()">Compartir en LinkedIn</button>
</div>
